<%= javascript_pack_tag 'application' %>


<h1>Try out graphQL with 30k fake providers</h1>
<a href="https://r5-graphql-react.herokuapp.com/graphical">Click me to try our GraphQL</a>

<i>iansanity</i>
